


body {
  background-color: #ffffff !important;
  font-family: "Helvetica";
}
/* people by Shastry from the Noun Project */


.background {
  height: 600px;
  width: 100%;
  background-image: url("/images/background.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  /* display: flex; */
} 
.airly {
  /* font-family: 'Yesteryear', cursive, thin; */
  /* text-shadow: 5px 10px 2px rgba(0,0,0,.9); */
  /* font-size: 80px; */
  text-shadow: 2px 2px 2px rgba(0,0,0,.8); 
  /* position: absolute; */
  top: 2vh;
  left: 5vw;
  /* transform: translate(-50%, -50%); */
  height: 74px;	
  width: 94px;	
  color: #FFFFFF;	
  font-family: Yesteryear;	
  font-size: 50px;	
  letter-spacing: 0.83px;	
  line-height: 74px;
}

.moto{
  /* font-family: 'Lato', sans-serif;  */
  color: white;    
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);        
  position: absolute;    
  top: 50%;    
  left: 50%;    
  transform: translate(-50%, -50%);
  height: 60px;
  color: #FFFFFF;
  /* font-family: "SF Pro Text"; */
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.83px;
  line-height: 60px;
}

.login-background {
  background-color: #2DC2FF;
  height: 85px;
  display: flex;
  flex-direction: column;
  
}
.login-container {
  /* margin: 0 30%; */
display:flex;

}
.facebook {
  background-color: #3b5998;
}

/* .sign-up {	
  height: 18px;	
  color: #FFFFFF;	
  font-family: "SF Pro Text";	
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
  position: absolute; 
  top: 12%;    
  left: 85%;
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);  
}
.log-in {	
  height: 18px;	
  	
  color: #FFFFFF;	
  font-family: "SF Pro Text";	
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
  position: absolute; 
  top: 12%;    
  left: 92%;
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);  
} */
.link {
  color: black;
  display: flex;
  /* text-align: left;
  justify-content: center; */
  flex-direction: column;
  padding: 5px;
  white-space: nowrap;
}

.flight-result-title {
  height: 24px;		
  color: #000000;	
  /* font-family: "SF Pro Text";	 */
  font-size: 20px;	
  font-weight: bold;	
  letter-spacing: 0.33px;	
  line-height: 24px;
  position: flex;
}
.list-flights {
display: flex;
justify-content: space-between;
width: 90%;
font-size: 1em;
/* text-align: right; */
}
/* .link {
  width: 50%;
  margin:auto;
  text-align: left;
  justify-content: flex-start;
} */
a:hover {
  text-decoration:none;
 color:rgba(20, 56, 85, 0.568);
}
.container-1 {
  position: relative;
  text-align: center;
  /* color: white; */
  display: flex;
  justify-content: start;
}

.container-2 {
  position: relative;
  text-align: center;
  /* color: white; */
}
.container-3 {
position: relative;
text-align: center;
color:white;
}
.plane {
  text-align: center;
}

.blue {
  color:#2DC2FF;
  font-weight: bold;
}

.my-profile {
  /* font-family: "SF Pro Text"; */
}


.middle-column {
  position: relative;
  left: 9vw;
}
@media (max-width:375px) {
  .middle-column {
    left: 12vw;
  }
  .list-flights {
    width: 80%;
  }
}


.footer {
  background-color: #2DC2FF;
  height: 50px;
  width: 100%;
  /* position: absolute; */
  /* left: 0;
  bottom: 0;
  right: 0; */
}
.footer-text {
  height: 12px;	
  color: #FFFFFF;	
  font-size: 10px;	
  letter-spacing: 0.17px;	
  line-height: 12px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-weight: bold;
}
.description-title {
  /* font-family: "SF Pro Text"; */
  font-size: 20px;	
  font-weight: bold;	
  letter-spacing: 0.33px;	
  line-height: 24px;
  margin-top: 1em;
}

.input-main {
  border: none;
  padding-top: 20px;
}
.input-main input{
  /* border-radius: 4px; */
  border: none;
  border-bottom: 2px solid #2DC2FF;
  padding:10px;
  text-align: left;
  margin: 0.7em;
}
.input-width {
  width: 167px;
  height: 43px;
}

/* .input-main button {
  border-radius: 4px;
  border-bottom: 1px solid rgb(46,141,255);
} */
.search-main {
  background-color: #ff702d;
  border:none;
  color: white;
  height: 45px;	
  width: 110px;
  font-weight: bold;
}

.request {
  height: 18px;	
  
  color: #000000;	
  /* font-family: "SF Pro Text";	 */
  font-size: 12px;	
  
  letter-spacing: 0.25px;	
  line-height: 18px;
}
.textarea {
  border-radius: 0;
  /* color: #000000;	 */
  /* font-family: "SF Pro Text";	 */
  font-size: 14px;	
  border: 2px solid  #2DC2FF;
  letter-spacing: 0.25px;	
  display: flex;
  justify-content: center;
  align-content: center;
}

/* description  */

.description {
  margin: 15px;
}
.description-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.description-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.images-column {
  margin: 0.8em;
  text-align: left;
  /* display: flex; */
}
.images-column img {
  width: 50%;
  object-fit: contain;
  border-radius: 4px;
}
.images-column div {
  text-align: center;
}

/* columns on Myprofile*/

.items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}
.items h5{
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
.items .item {
	flex: 1 0 200px;
  box-sizing: border-box;
  /* background: #e0ddd5; */
  color: #171e42;
  padding: 10px;
	margin-left: 20px;
  margin-top: 10px;
  text-align: left;
}

.signup-login {

  
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.8);
  height: 18px;	
  /* font-family: "SF Pro Text";	 */
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
}

.signup-login a {
  text-decoration: none;
  color: white;
  
}

.list-flights div {
  width: 0vw; /*  aligns to the left */
  text-align: left;
  
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
}

.titles{
  color: #868686;	
  /* font-family: "SF Pro Text";	 */
  font-size: 0.8em;	
  font-weight: 500;	
}

.flex-flight-details {
  display:flex;
}
/* login page css*/
  .container-login {
    /* background:white; */
    /* border-radius: 5px; */
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    /* width: 450px; */
    display: flex;  
    flex-direction: column;
    padding-top: 50px;

  }
  
  .login-item {
    padding:25px 25px 0;
    margin: 20px 20px 0;	
    border-radius: 3px;
  }

  .taking-flight {
    margin-top:100px;
    background-color: #ff702d;
    color: #eee;
    font-weight: bold;
    height:3em;
    font-size: 15px;
    border: none;
    width: 280px; 
  }
  .taking-flight:hover {
    background-color: rgba(134, 145, 155, 0.568);
  }
.button-taking-flight {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  .flight-detail-flex {
    display: flex;
    /* box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1); */
    /* width: 450px; */
    flex-direction: column;
  }
.passenger-list {
  height: 18px;	
  color: #000000;	
  /* font-family: "SF Pro Text";	 */
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
  /* border: none; */
  display: flex;
  align-items: center;
  justify-content: center;

}
.passenger-list:hover {
  background-color: rgba(134, 145, 155, 0.568);

}
.passenger-list-title {
  /* height: 18px;	 */
  color: #000000;	
  /* font-family: "SF Pro Text";	 */
  font-size: 15px;	
  font-weight: bold;	
  letter-spacing: 0.25px;	
  line-height: 18px;
  border: none;
  padding: 1em 3em;
  margin: 10px 10%;
}

.flight-details-title {
  height: auto;	
  /* color: #2DC2FF;	 */
  /* font-family: "SF Pro Text";	 */
  font-size: 20px;	
  font-weight: bold;	
  letter-spacing: 0.33px;	
  line-height: 24px;
  text-align: center;
width: 600px;
padding: 1em;
}


.button-carrier {
  margin-top: 1em;
  /* font-family: "SF Pro Text"; */
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  background: none !important;
  height: 18px;	
  color: #000000;	
  /* font-family: "SF Pro Text";	 */
  border: none;
  padding: 1em 3em;
  margin: 5px 10%;
text-align:left;    
}

.small-labels {
  font-size: 0.8em;
  text-align: left;
  margin-left: 20px;
  color: gray;
}
.submit-button {
  margin: 10px;
}
  .form input {
    width: 100%;
  }
   
  .form-login input[type="text"], 
  .form-login input[type="password"] {
    background-color: #ffffff;
    color:rgba(0, 0, 0, 0.415);
   
  }
  .form-login input[type="button"] {
      background-color: #3b5998; 
      /* background-image: url("/images/facebook.jpeg"); */
      /* padding-left: 30px; */
  }
  .form-login input[class="google"] {
    background-color: #176bef;  
}
  .form-login input:hover {
    background-color: #eeeeee;
    border-bottom: 1px  #2DC2FF;
  }
  .form-login input {
    background-color: #ff702d;
    color: #eee;
    font-weight: bold;
    height:3em;
    font-size: 15px;
    border: rgb #2DC2FF;
    border: none;
    
  }
  .form-login input:hover {
    background-color: rgba(134, 145, 155, 0.568);
  }
  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }
  
.nav-new {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  width: 100%
}

.float-right-navbar {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
justify-content: center;
text-align: -webkit-right;
}

.shipOrCarry {
  font-size: 20px;
  font-weight: bold;
}

/* random pic generator css*/
.profile{
  text-align: center;
}

.ticketsList{
  list-style:none;
  padding:0;
}

.userContainer{
  border:2px solid  #2DC2FF;
  background:lightgrey;
}

.picContainer{
  border:1px solid white;
  border-radius:50%;
}

.infoContainer{
  border:1px solid black;
}

.avatarContainer{
  border: none;
}

.displayDataContainer{
  font-size:20px;
  margin:10px 0 10px 0;
}

.iconsContainer{
  display:flex;
  justify-content:space-around;
}


.fa{
  font-size:40px;
}

.iconsContainer li:active{
  color: #2DC2FF;
}

.selected{
  color:green;
}


@media (max-width:800px) {
  .container {
    font-size: 0.5em;
  }
}


@media (min-width:800px) {
.container {
    max-width: 80%;

}
}
@media (max-width:375px) {
  .moto {
    top: 30%;
  }
  }
 /* |--><Main /> page
      |-->Signup />(gives a pop-up to login or signup and redirects to the Main)
      |-->Login /> (gives a pop-up to login or signup and redirects back to the Main)
      /* |-->There is also a logout button that appears if you are logged in */
      /* |--> <Flights />(when you search for flights - the list of flights appear on the same Main page)
      |--> <ProfileShipper/> page of the shipper(I have not decided where to put a link to it yet, 
          but it will show like a list of his shipments in transit or planned)
          |---><FlightDetails />(shows the information about the flight and a list of   
            people registered for that flight)
            /* --it has a button to register yourself on this flight to be a carrier yourself  */
                  /* |----><ProfileCarrier /> page of an individual registered for the flight (this profile page of an individual 
                  person registered for the flight where there is an input form for the shipper to request 
                  a package to be sent by them)
            
                /* --- */ 